div{
	width: 100%;
	height: 100vh;
	background:#b19cd9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}
button{
	line-height: 24px;
	padding: 15px 20px;
	background: #b19cd9;
	color: white;
	border: 2px solid white;
	outline: none;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
}